/* Cabecera */
.cabecera__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.cabecera__buscar__item {
    display: none;
}

/* Menu lateral */

.menu__container {
    position: fixed;
    bottom: 0%;
    height: 75px;
    width: 100%;
}

.menu__lista {
    display: flex;
    justify-content: space-around;
    height: 100%;

}

.menu__lista li {
    align-self: center;
}

.menu__itens{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4) {
    display: none;
}

/* Seccion superior */
.superior__seccion__container {
    display: flex;
    align-items: center;
    /* el codigo no rompe hacia abajo */
    white-space: nowrap;
    /* coloca scroll */
    overflow: scroll;
    /* espaciado entre items */
    gap: 15px;
}

/* Rodapie */
.rodapie__container {
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; 
    lo mismo que abajo*/
    flex-flow: column wrap;
}

@media(min-width:834px) {

    /* Cabecera */
    .cabecera__buscar__item {
        display: block;
    }

    /* Menu lateral */

    .menu__container {
        position: fixed;
        bottom: 0%;
        height: 100%;
        width: 74px;
    }
    
    .menu__lista {
        display: flex;
        flex-direction: column;
        width: 100%;
    
    }
    

    /* Rodapie */
    .rodapie__container {
        justify-content: space-between;
    }
}